.div {
  background-image: url("../../assets/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.h3 {
  text-align: center;
  color: white;
  padding: 100px 0 0;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: linear-gradient(90deg blue, red black);
}
.h3 p {
  font-size: 24px;
}
